@import 'colors';

header {
  align-items: center;
  background-color: $yellow;
  display: flex;
  justify-content: center;
  width: 100%;
}

nav {
  margin: 1.2rem auto;
  max-width: 1200px;
  width: 83.33%;
}

form {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;

  img {
    margin-right: 2.4rem;
  }

  .search-box {
    border-radius: 0.4rem 0 0 0.4rem;
    border: none;
    color: $black;
    font-size: 1.8rem;
    height: 4.4rem;
    outline: none;
    padding: 0 1.2rem;
    width: 100%;

    ::placeholder {
      color: $gray;
    }
  }

  .search-button {
    background-image: url('../assets/ic_Search.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 0 0.4rem 0.4rem 0;
    border: none;
    cursor: pointer;
    height: 4.4rem;
    width: 5.2rem;
  }
}
